body {
  background: #333;
}

#container {
  width: 600px;
  margin: 40px auto 0;
  padding: 50px;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 10px 15px -8px #000;
  border-radius: 5px;
  text-align: center;
}

textarea {
  margin: 15px;
}

#scale, #email, #submit {
  margin: 15px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
